{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apiv1.cakeip.com/openapi"
    }
  ],
  "paths": {
    "/account/addWhiteList": {
      "post": {
        "description": "用户添加白名单",
        "requestBody": {
          "description": "添加白名单请求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWhitelist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/removeWhiteList": {
      "post": {
        "description": "用户删除白名单",
        "requestBody": {
          "description": "删除白名单请求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveWhitelist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/getWhiteList": {
      "post": {
        "description": "用户获取白名单列表",
        "requestBody": {
          "description": "获取白名单请求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWhitelist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/getUsableTraffic": {
      "post": {
        "description": "用户获取剩余流量（汇总所有供应商流量，并返回各供应商明细）",
        "requestBody": {
          "description": "获取剩余流量请求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "获取剩余流量成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Traffic"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/addUser": {
      "post": {
        "description": "代理商添加用户",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentAddUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/shareTraffic": {
      "post": {
        "description": "代理商分配流量",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareTraffic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "分配流量成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareTrafficResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/queryTraffic": {
      "post": {
        "description": "代理商查询用户流量",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryTraffic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Traffic"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/getAuthInfo": {
      "post": {
        "description": "代理商查询认证帐户信息",
        "requestBody": {
          "description": "查询认证帐户信息",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "认证帐户信息响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/queryTrafficUsage": {
      "post": {
        "description": "查询流量消耗",
        "requestBody": {
          "description": "查询流量消耗请求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryTrafficUsage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "流量消耗查询响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ip/getIpAddress":{
      "post": {
        "description": "代理商获取代理IP服务器地址",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIpAddressParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "响应成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ip/getCountryList":{
      "post": {
        "description": "代理商获取国家列表",
        "requestBody": {
          "description": "获取国家列表",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "响应成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCountryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ip/getRegionList":{
      "post": {
        "description": "代理商获取国家列表",
        "requestBody": {
          "description": "获取国家列表",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegionListParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "响应成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCountryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommonRequestBody": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description": "AppKey密钥"
          }
        },
        "required": ["appKey"]
      },
      "Plant": {
        "type": "object",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data":{
            "description": "响应数据",
            "type": "object"
          }
        },
        "required": ["name"]
      },
      "Traffic": {
        "type": "object",
        "description": "获取剩余流量响应（汇总所有供应商流量）",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data":{
            "description": "用户流量数据",
            "type": "object",
            "properties": {
              "fullTraffic": {
                "type": "integer",
                "format": "int32",
                "description": "用户总购买量",
                "example": 1000
              },
              "traffic": {
                "type": "integer",
                "format": "int32",
                "description": "用户当前剩余流量",
                "example": 800
              }
            }
          }
        },
        "required": ["code", "msg", "data"]
      },
      "AddWhitelist": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string",
                "description" : "IP地址"
              },
              "remarks": {
                "type": "string",
                "description": "备注"
              },
              "provider": {
                "type": "integer",
                "format": "int32",
                "description": "池子类型：1=优选池（目前只支持1）",
                "enum": [1],
                "default": 1,
                "example": 1
              }
            },
            "required": ["ipAddress"],
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "GetWhitelist": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "integer",
                "format": "int32",
                "description": "池子类型：1=优选池（目前只支持1）",
                "enum": [1],
                "default": 1,
                "example": 1
              }
            },
            "description": "动态参数集合"
          }
        },
        "required": ["appKey"]
      },
      "RemoveWhitelist": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string",
                "description" : "IP地址"
              },
              "provider": {
                "type": "integer",
                "format": "int32",
                "description": "池子类型：1=优选池（目前只支持1）",
                "enum": [1],
                "default": 1,
                "example": 1
              }
            },
            "required": ["ipAddress"],
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "AgentAddUser": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "description" : "用户名"
              },
              "password": {
                "type": "string",
                "description": "密码"
              }
            },
            "required": ["username", "password"],
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "ShareTraffic": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "description" : "用户名"
              },
              "traffic": {
                "type": "integer",
                "format": "int32",
                "description": "流量"
              }
            },
            "required": ["username", "traffic"],
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "ShareTrafficResponse": {
        "type": "object",
        "description": "分配流量响应",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data": {
            "type": "object",
            "description": "分配后流量信息",
            "properties": {
              "providerTraffic": {
                "type": "number",
                "description": "目标用户分配后的优选池流量",
                "example": 9800
              }
            }
          }
        },
        "required": ["code", "msg", "data"]
      },
      "QueryTraffic": {
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "description" : "用户名"
              }
            },
            "required": ["username"],
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "IpAddress": {
        "type": "object",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data":{
            "description": "响应数据",
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string",
                "description": "IP地址"
              }
            }
          }
        },
        "required": ["name"]
      },
      "GetIpAddressParams":{
        "type": "object",
        "description": "获取代理IP服务器地址请求参数",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "integer",
                "format": "int32",
                "description": "池子类型：1=优选池（默认）。注：2=标准池已下架，服务端会静默重定向到 1，响应里会附带 _deprecation 警告",
                "minimum": 1,
                "maximum": 1,
                "enum": [1],
                "default": 1,
                "example": 1
              },
              "protocol": {
                "type": "string",
                "description": "协议类型：优选池仅支持 socks5",
                "enum": ["socks5"],
                "example": "socks5"
              }
            },
            "description": "动态参数集合"
          }
        },
        "required": ["appKey"]
      },
      "GetIpAddressResponse":{
        "type": "object",
        "description": "代理IP服务器地址响应",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data":{
            "description": "代理服务器信息",
            "type": "object",
            "properties": {
              "hosts": {
                "type": "array",
                "description": "代理服务器域名列表",
                "items": {
                  "type": "string"
                },
                "example": ["t1.cakeip.app", "t2.cakeip.app", "t3.cakeip.app"]
              },
              "port": {
                "type": "integer",
                "format": "int32",
                "description": "端口",
                "example": 10000
              },
              "protocol": {
                "type": "string",
                "description": "协议类型（优选池仅 socks5）",
                "enum": ["socks5"],
                "example": "socks5"
              }
            }
          }
        },
        "required": ["name"]
      },
      "GetCountryListResponse":{
        "type": "object",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string"
          },
          "data":{
            "description": "响应数据",
            "type": "array",
            "items": {
              "type": "object",
              "properties":{
                "name": {
                  "type": "string",
                  "description": "名称"
                },
                "code": {
                  "type": "string",
                  "description": "代码"
                }
              }
            }
          }
        },
        "required": ["name"]
      },
      "GetRegionListParams":{
        "type": "object",
        "properties": {
          "appKey": {
            "type": "string",
            "description":"AppKey密钥"
          },
          "params": {
            "type": "object",
            "properties": {
              "countryId": {
                "type": "string",
                "description" : "国家代码"
              }
            },
            "description": "动态参数集合"
          }
        },
        "required": ["appKey", "params"]
      },
      "AuthInfoResponse": {
        "type": "object",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string",
            "example": "Success"
          },
          "data": {
            "description": "认证帐户信息",
            "type": "object",
            "properties": {
              "proxyUser": {
                "type": "string",
                "description": "代理用户名",
                "example": "username"
              },
              "proxyPass": {
                "type": "string",
                "description": "代理密码",
                "example": "password"
              }
            },
            "required": ["proxyUser", "proxyPass"]
          }
        },
        "required": ["code", "msg", "data"]
      },
      "QueryTrafficUsage": {
        "type": "object",
        "description": "查询流量消耗请求参数",
        "properties": {
          "appKey": {
            "type": "string",
            "description": "AppKey密钥"
          },
          "type": {
            "type": "string",
            "description": "查询粒度：day=按天统计，5min=按5分钟统计",
            "enum": ["day", "5min"],
            "example": "day"
          },
          "startDay": {
            "type": "string",
            "format": "date",
            "description": "开始日期（格式：YYYY-MM-DD）",
            "example": "2024-01-01"
          },
          "endDay": {
            "type": "string",
            "format": "date",
            "description": "结束日期（格式：YYYY-MM-DD）",
            "example": "2024-01-02"
          },
          "provider": {
            "type": "integer",
            "format": "int32",
            "description": "池子类型：1=优选池（默认）。2=标准池已下架，但保留以查询历史数据",
            "enum": [1, 2],
            "default": 1,
            "example": 1
          }
        },
        "required": ["appKey", "type", "startDay", "endDay"]
      },
      "TrafficUsageResponse": {
        "type": "object",
        "description": "流量消耗查询响应。data为数组格式，每条记录包含时间和流量值。时间格式根据查询粒度不同：type=day时为'YYYY-MM-DD'，type=5min时为'YYYY-MM-DD HH:mm:ss'",
        "properties": {
          "code": {
            "default": 0,
            "description": "状态码，0为操作成功",
            "type": "integer",
            "format": "int32",
            "example": 0,
            "enum": [0, -1]
          },
          "msg": {
            "description": "响应消息",
            "type": "string",
            "example": "查询成功"
          },
          "data": {
            "description": "流量使用记录列表",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "string",
                  "description": "时间点。type=day时格式为'YYYY-MM-DD'，type=5min时格式为'YYYY-MM-DD HH:mm:ss'",
                  "example": "2024-01-01"
                },
                "traffic": {
                  "type": "number",
                  "format": "float",
                  "description": "该时间段流量消耗（单位：MB）",
                  "example": 100.5
                }
              }
            },
            "example": [
              { "time": "2024-01-01", "traffic": 100.5 },
              { "time": "2024-01-02", "traffic": 200.3 }
            ]
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "记录数",
            "example": 2
          },
          "sum": {
            "type": "number",
            "format": "float",
            "description": "总流量消耗（单位：MB）",
            "example": 300.8
          }
        },
        "required": ["code", "msg", "data", "total", "sum"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    }
  }
}
